<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osint">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"> 
        <meta-data android:name="com.google.android.geo.API_KEY" 
   android:value="AIzaSyD-NkoJdAxA7wpsIi8UoF4FYM0qaqPV55k"/>
</application>
</manifest>
